/*
Name: EDIT
Version: 1.0
Author: Bernd Artmueller
Author URI: http://www.berndartmueller.at/
*/


/*--------------------------------------------------------------------------------------------------------------------------*/
/*- RESET - Courtesy of Eric Meyer's CSS Reset Awesomeness: http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ ---*/
/*--------------------------------------------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{ 
margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;
 }
/* remember to define focus styles! */
:focus { outline: 0; }
body { line-height: 1; color: black; background: white; }
ol, ul { list-style: none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate;border-spacing: 0; }
caption, th, td { text-align: left;font-weight: normal; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/*********************************************************************************************/
/** SETUP STANDARD CLASSES *******************************************************************/
/*********************************************************************************************/

html{ height: 100%; min-width: 600px; }
body{ height: 100%; min-width: 600px; background: #eee; color: #555; font-size: 16px; font-family: Helvetica, Arial, sans-serif; }

h1{ font-size: 1.2em; margin: 0px 0px 20px; font-weight: normal; line-height: 30px; }
	h1.h1-sub-title{ padding: 20px; }
h2{ font-size: 20px; margin: 0px 0px 10px; font-weight: lighter; line-height: 24px; }
h3{ font-size: 17pt; margin: 0px 0px 10px; line-height: 24px; }
h4{ margin: 0px; padding: 8px 0px 10px 0px; font-weight: lighter; }
h5{ margin: 0px; padding: 8px 0px 10px 0px; font-weight: lighter; }
h6{ margin: 0px; padding: 8px 0px 10px 0px; font-weight: lighter; }

h1, h2, h3, h4, h5, h6{ color: #444444; font-family: Helvetica, Arial, sans-serif; }

p{ font-size: 0.7em; line-height: 18px; margin: 0px 0px 8px; color: #555; }
blockquote, blockquote p{ font-size: 13px; line-height: 30px; margin: 0px 0px 15px; color: #283237; font-weight: bold; font-style: italic; }

textarea, input{ font-size: 12pt; font-family: Helvetica, Arial, sans-serif; margin: 0; padding: 0; }

/*********************************************************************************************/
/** GLOBAL CLASSES ***************************************************************************/
/*********************************************************************************************/

/*--- Links ---*/
a{ color: #444; text-decoration: none; cursor: pointer; }
a:hover{ color: #000; text-decoration: none; }
a:active{  }
	
/*--- Layouts ---*/
.no_bg{ background-image: none; }
.clearBoth{ clear: both }
.floatLeft{ float: left; }
.floatRight{ float: right; }
.noDisplay{ display: none; }

.alignLeft{ float: left; margin: 0px 20px 10px 0px; }
.alignRight{ float: right; margin: 0px 0px 10px 20px; }
.alignCenter{ text-align: center; }

u{ text-decoration: underline; }
strong{ font-weight: bold; }
em{ font-style: italic; }

/*--- Buttons ---*/
	/* Default Button */
	.bttn { background: url(images/bttn_default_liquid_bg.png) no-repeat right top; display: block; float: left; height: 25px; margin-right: 5px; padding-right: 7px; }
		.bttn span { background: url(images/bttn_default_liquid_bg.png) no-repeat left top; display: block; font-size: 0.7em; padding: 7px 0 7px 7px;}

/* Link Icons */
	.task { display: block; margin-right: 10px; padding-left: 20px; padding-top: 6px; float: left; }
	.minus { background: url(images/ico_minus-circle-frame.png) no-repeat left; height: 16px; }
	.add { background: url(images/ico_minus-circle-frame.png) no-repeat left; height: 16px; }
	.edit{ background: url(images/ico_document-pencil.png) no-repeat left; height: 16px; }
	.install { background: url(images/ico_install.png) no-repeat left; height: 16px; }
	
/* Sonstige Icons (span-stat icons) */
	.stat { display: block; margin: 0 auto; text-indent: -9999px; }
	.tick { background: url(images/ico_tick.png) no-repeat; height: 16px; width: 16px;}
	
/* Table Head classes */
	
	th.installed { width: 7%; }
	
/*-- Form Elements --*/

	form {}
	input { background: #f7f7f7; border: 1px solid #ccc; -moz-border-radius: 2px; -webkit-border-radius: 2px; font-size: 0.75em; padding: 8px; }
		input.veryShort { width: 9%; }
		input.short { width: 15%; }
		input.middle { width: 35%; }
		input.long { width: 50%; }
		input.full { width: 86%; }
		input:focus { border: 1px solid #aeaeae; }
		
		input.checkbox { border: medium none; margin: 0; padding: 0; }
		.form-content input.checkbox { display: block; margin-top: 9px; }
		input.bttn { background: url(images/default_bttn.png) no-repeat; border: medium none; display: block; float: left; font-size: 0.7em; padding: 5px 7px 7px 7px; margin-right: 5px; width: 75px; }
	label { color: #222; display: block; float: left; font-size: 0.7em; margin-right: 20px; padding: 10px 0; width: 7%; }
	textarea { background: #f7f7f7; border: 1px solid #ccc; -moz-border-radius: 2px; -webkit-border-radius: 2px; font-size: 0.75em; padding: 10px; width: 50%; }
	select { height: 25px; background: url(images/form_select_bg.png) repeat-x; border: 1px solid #bcbcbc; color: #606060; -moz-border-radius: 2px; -webkit-border-radius: 2px; font-size: 0.7em; padding: 4px 5px; }

	/*-- Custom Form Elements --*/
	.datePicker { background: url(images/ico_calendar-month.png) no-repeat; text-indent: -9999px; display: inline-block; margin-left: 3px; height: 16px; width: 16px; }

	.validation-error { background: #ff8b8b url(images/ico_exclamation-red-frame.png) no-repeat 98% center; border: 1px solid #cc4242; padding-right: 22px; }
		.validation-error.veryShort, .validation-success.veryShort { width: 8%; }
		.validation-error.short, .validation-success.short { width: 14%; }
		.validation-error.middle, .validation-success.middle { width: 34%; }
		.validation-error.long, .validation-success.long { width: 48.2%; }
		.validation-error.full, .validation-success.full { width: 85%; }
		
		.validation-error:focus { border: 1px solid #a13131; }
	.validation-success { background: #d8fadd url(images/ico_tick-circle-frame.png) no-repeat 98% center; border: 1px solid #77d785; padding-right: 22px; }
		.validation-success:focus { border: 1px solid #5bae67; }
/*-------------------------------------------------------------------------------------------*/
/*- FONT SIZE --------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
	#header { font-size: 0.75em; }

/*-------------------------------------------------------------------------------------------*/
/*- GENERAL LAYOUT --------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/

#wrapper { height: 100%; width: 100%; }
	#header { background: #f1f1f1 url(images/header_bg.png) repeat-x; height: 140px; margin-bottom: 10px; padding: 0 10px; }
	#content-wrapper { overflow: hidden; padding: 0 10px; }
		#left { float: left; width: 15%; margin-right: 10px; min-width: 12%; }
		#content { float: left; width: 84%; position: relative; }
			#link-container { overflow: hidden; }
/*-------------------------------------------------------------------------------------------*/
/*- STYLES ----------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
	/* Login */
	#login-wrapper { background: #e4e4e4 url(images/login_bg.png) repeat-x top; padding-top: 169px; width: 100%; }
		#login-center { margin: 0 auto; width: 400px; }
			#login-center .content { background: #fff; overflow: hidden; padding: 10px; }
				#login-center li { display: inline-block; margin-bottom: 12px; width: 100%; }
				#login-center li.last { margin-bottom: 0; }
					#login-center label { width: 15%; }
					#login-center input { width: 75%; }
					#login-center .checkbox-field { float: left; margin-left: 77px; margin-top: 6px; width: auto; }
					#login-center .remember { float:left; font-size:0.7em; margin-left:5px; line-height: 2.3em; padding:0; width:auto; }
					#login-center .submit { float: left; margin-left: 77px; margin-right: 10px; width: 75px; }
					#login-center .pw-forgotten { float: left; font-size: 0.7em; padding-top: 15px; }
					
	/*-- Header --*/
	
	/*-- User Stats --*/
	#header .top { height: 25px; }
		#header .user-stat { padding: 5px 0; width: auto; }
			#header .user-stat span { color: #344f61; font-size: 0.9em; }
				#header .user-stat a { color: inherit; text-decoration: underline; }
				#header .user-stat a:hover { text-decoration: none; }
				
	/*-- Main Navigation --*/
	#header .main { height: 76px; padding-bottom: 22px; position: relative; }
		#header .main ul { bottom: 21px; position: absolute; }
			#header .main li { color: #59737f; float: left; margin-right: 3px; }
				#header .main a { background: url(images/main_nav.png) repeat-x; color: inherit; display: block; padding: 7px 20px 8px; }
				/*-- Active Style --*/
				#header .main .current { background: url(images/main_nav_current.png) repeat-x; color: #253841; }
				#header .main li:hover a { background: url(images/main_nav_hover.png) repeat-x; }
				#header .main li:hover .current { background: url(images/main_nav_current.png) repeat-x; }
				#header .main li:hover ul li span { background: url(images/sub_nav_el_bg.png) no-repeat right top; }
				#header .main li:hover ul li span a { background: url(images/sub_nav_el_bg.png) no-repeat left top; }
				
		#header .main ul li ul { overflow: hidden; height: 37px; position: absolute; top: 26px; left: 0; width: 100%; z-index: 99; }
			#header .main-nav ul li { background: none; padding: 7px 10px 6px 0px; margin-right: 0; }
				#header .main-nav ul li span { background: url(images/sub_nav_el_bg.png) no-repeat right top; color: #444; float: left; padding-right: 5px; }	
					#header .main-nav ul li span a { background: url(images/sub_nav_el_bg.png) no-repeat left top; color: inherit; display: block; font-size: 0.9em; padding: 6px 5px 6px 10px; }
					/*-- Hover Styles --
					#header .main-nav ul li:hover { background: none; }
					#header .main-nav ul li a:hover { background: url(images/sub_nav_el_bg.png) no-repeat left top; }*/
				
	
	/*-- Treeview --*/
	
	#left .title { background: url(images/title_bg.png) repeat-x; padding: 0; height: auto; }
		#left h2 { color: #ccc; font-size: 0.7em; font-weight: normal; margin-bottom: 0px; padding: 3px 10px; }	
				
	/*-- Breadcrumb --*/
				
	#breadcrumb { margin-bottom: 20px; }
		/*#breadcrumb ul { background: #fff url(images/breadcrumb_bg.png) repeat-x; border: 1px solid #d0d0d0; height: 20px; overflow: hidden; padding: 1px; }
			#breadcrumb li { font-size: 0.7em; float: left; padding: 4px 5px; }
				#breadcrumb a { color: #999; font-size: inherit; }
				#breadcrumb span { color: #505050; }*/
				
	/*-- Title --*/		
	
	#page-title { background: url(images/title_underline.png) repeat-x left bottom; margin-bottom: 20px; overflow: hidden; padding-bottom: 10px; }
		#page-title img { float: left; margin-right: 5px; width: 33px; }
		#page-title h1 { float: left; margin-bottom: 0; padding-top: 5px; }
		#page-title .addToDashboard { background: url(images/ico_plus-circle-frame.png) no-repeat left center; color: #294450; display: block; float: right; font-size: 0.7em; margin-top: 10px; padding: 5px 0 5px 20px; text-decoration: underline; }
		#page-title .addToDashboard:hover { text-decoration: none; }
	
	.main-wrapper { clear: both; overflow: hidden; width: 100%; }
		#link-container li { float: left; margin: 5px; }
		#link-container .column { float: left; margin-right: 10px; min-height: 150px; padding-bottom: 100px; width: 127px; }
		.single-link { background: #fff; border: 1px solid #d0d0d0; -moz-border-radius: 2px; -webkit-border-radius: 2px; margin-bottom: 10px; width: 127px; }
			.main-wrapper .placeholder { display: inline-block; background: #fff; border: 1px dashed #ccc; height: 148px; width: 127px; }
			.single-link .title { background: none; cursor: move; height: auto; overflow: hidden; padding: 1px; margin-bottom: 5px; }
				.single-link .container { background: url(images/dashboard_quicklink_title_bg.png) no-repeat; height: 26px; overflow: hidden; padding: 2px 5px 0 5px; width: 115px; }
					.single-link h3 { 
								   color: #ccc; 
								   float: left;
								   font-size: 0.75em; 
								   margin-bottom: 0px;
								}
					.single-link .close { background: url(images/dashboard_quicklink_title_close.png) no-repeat; float: right; margin-top: 5px; height: 12px; width: 12px; text-indent: -9999px;}
			.single-link .content { padding: 4px; }
			.single-link img { border-bottom: 1px dotted #aaa; padding: 0 35px 10px; margin-bottom: 5px; }
			.single-link .description { color: #444; font-size: 0.75em; line-height: 1.3em; text-align: center; }
	
	/*-- Table Options --*/
	#options { clear: both; position: relative; margin-bottom: 20px; }
		#options .bar { background: url(images/options_bg.png) repeat-x; border: 1px solid #c5c5c5; height: 24px; padding: 7px 10px; }
		#options li { float: left; margin-right: 5px; }
			#options input { border: 1px solid #bcbcbc; -moz-border-radius: 2px; -webkit-border-radius: 2px; color: #606060; font-size: 0.7em; padding: 4px 5px; }
			#options .bar select { height: 26px; }
		#options .itemsPage span { font-size: 0.7em; }
		#options .search-field-wrapper { float: right; position: relative; margin-right: 0px; }
			#options .search { width: 250px; }
			#options .magnifier { background: url(images/ico_magnifier-left.png) no-repeat; position: absolute; right: 5px; top: 3px; height: 16px; width: 16px; }
			#options .cancel { background: url(images/ico_cross.png) no-repeat; position: absolute; right: 5px; top: 3px; height: 16px; width: 16px; }
		#options .filter-wrapper { position: absolute; top: 39px; left: -1px; right: 0; width: 101%; height: 200px; z-index: 999; }
			#options .bg { background: #343434; position: absolute; height: 100%; width: 100%; z-index: -99; }
				.filter-bg-top-lft { background: url(images/filter_bg_lft_top.png) no-repeat; position: absolute; top: 0; left: 0; height: 10px; width: 10px; }
				.filter-bg-top-mdl { background: url(images/filter_bg_top.png) repeat-x; position: absolute; top: 0; left: 10px; height: 10px; width: 99%; }
				.filter-bg-top-rgt { background: url(images/filter_bg_right_top.png) no-repeat; position: absolute; top: 0; right: 0; height: 10px; width: 10px; }
				.filter-bg-left { background: url(images/filter_bg_lft.png) repeat-y; position: absolute; left: 0; top: 10px; height: 90%; width: 10px; }
				.filter-bg-btm-lft { background: url(images/filter_bg_lft_bttm.png) no-repeat; position: absolute; bottom: 0; left: 0; height: 10px; width: 10px; }
				.filter-bg-btm-rgt { background: url(images/filter_bg_right_bttm.png) no-repeat; position: absolute; bottom: 0; right: 0; height: 10px; width: 10px; }
				.filter-bg-btm-mdl { background: url(images/filter_bg_bttm.png) repeat-x; position: absolute; bottom: 0; left: 10px; height: 10px; width: 97%; }
				.filter-bg-right { background: url(images/filter_bg_right.png) repeat-y; position: absolute; right: 0; top: 10px; height: 90%; width: 10px; }
			#options .content { height: 90%; padding: 10px; width: 97.8%; }
				#options .content .head { border-bottom: 1px solid #e1e1e1; color: #e1e1e1; margin-bottom: 20px; overflow: hidden; padding-bottom: 5px; }
					#options .content .head span { display: inline-block; font-size: 0.7em; }
					#options .content .col-name { float: left; width: 13%; }
					#options .content .col-term { float: left; width: 60%; }
				#options .body li { margin-bottom: 15px; width: 100%; }
					#options .body .col-name input { float: left; }
					#options .body .col-name label { color: #dddddd; float: left; font-size: 0.75em; margin-left: 5px; padding: 1px 0 0; width: auto; }
					#options .body .col-term { margin-top: -7px; }
			#options .filter-bttm  { background: url(images/filter_bttm_bg.png) repeat-x; border: 1px solid #c5c5c5; height: 23px; margin-left: 1px; width: 98.9%; } 
				#options .filter-bttm .close { background: url(images/filter_toggle.png) no-repeat; display: block; text-indent: -9999px; margin: 4px auto 0; height: 15px; width: 22px; }
				
	/*-- Table --*/
	
	.title { background: url(images/title_bg.png) repeat-x; padding: 5px 5px 5px 10px; height: 21px; }
		.title h3 { color: #ccc; font-size: 0.7em; }
		.data_table { border: 1px solid #aeaeae; border-top: medium none; border-bottom: medium none; background: #FCFCFC; width: 100%; }
			.data_table th { border-bottom: 1px solid #aeaeae; background: url(images/thead_bg.png) repeat-x; color: #222; padding: 7px 10px; font-weight: bold; font-size: 0.70em; }
			.data_table th, .data_table td { text-align: left; }
			.data_table tr { background: #fafafa; }
			.data_table .even { background: #f2f2f2; }
			.data_table .odd { background: #fafafa; }
				.data_table td {color: #444; border-bottom: 1px solid #d0d0d0; font-weight: normal; font-size: 0.7em; padding: 7px 10px; }
					.data_table .select_all_cb { padding-top: 0px; padding-bottom: 0px; }
					.data_table .select_all_cb, .data_table .select_cb { width: 15px; padding-right: 0; padding-left: 10px;  }
				.data_table .pagination .pages { font-size: 0.7em; float: left; padding-top: 5px; margin-right: 10px; }
				.data_table .pagination a { background: #f0f0f0; border: 1px solid #c4c4c4; display: block; font-size: 0.7em; float: left; padding: 4px 6px; margin-right: 2px; }
				.data_table .pagination .current { background: #f9f9f9; }
		.table-bottom { background: url(images/table-bottom.png) repeat-x; border-left: 1px solid #AEAEAE; border-right: 1px solid #AEAEAE; height: 26px; overflow: hidden; padding: 4px 10px; }
			.table-bottom .actions { float: left; }
				.table-bottom .actions select { float: left; margin-right: 5px; }
				.table-bottom .actions .bttn-s { background: url(images/bttn_small.png) no-repeat; border: medium none; float: left; margin-right: 5px; text-indent: -9999px; padding: 0; height: 21px; width: 71px; }
			.table-bottom .pagination { float: right; margin-top: 3px; }
				.table-bottom .pagination .pages { font-size: 0.7em; float: left; padding-top: 5px; margin-right: 10px; }
				.table-bottom .pagination a { background: #f0f0f0; border: 1px solid #c4c4c4; display: block; font-size: 0.7em; float: left; padding: 4px 6px; margin-right: 2px; }
				.table-bottom .pagination .current { background: #f9f9f9; }
			
		
		/* Themes Table */
		.data_table.themes img { background: #fff; border: 1px solid #bbb; padding: 1px; }
		table th.preview { width: 200px; }
		.data_table.themes td { padding: 10px; vertical-align: middle; }
		
		
		.box-wrapper .overlay { background: url(images/table_reloading_overlay.png) repeat; position: absolute; width: 100%; height: 100%; z-index: 9999; }
			.box-wrapper .overlay .message { background: url(images/table_reloading.png) no-repeat; padding: 15px 20px; margin: 60px auto; width: 165px; height: 30px; }
				.box-wrapper .overlay img { float: left; margin-right: 10px; }
				.box-wrapper .overlay span { float: left; font-size: 0.75em; padding-top: 9px; }
	
	/* Themes */
	#installed-theme { overflow: hidden; margin-bottom: 50px; }
		#installed-theme h2 { border-bottom: 1px solid #c0c0c0; color: #222222; font-size: 0.9em; padding-bottom: 2px; margin-bottom: 15px; }
		#installed-theme img { background: #fff; border: 1px solid #bbb; float: left; margin-right: 20px; padding: 1px; width: 182px; }
		#installed-theme .details { float: left; width: 60%; }
			#installed-theme .info { overflow: hidden; margin-bottom: 10px; }
			#installed-theme .info li { color: #555; float: left; font-size: 0.7em; margin-right: 20px; }
			#installed-theme .info span.type { float: left; color: #222; margin-right: 5px; }
			#installed-theme .details .info a { float: left; font-size: 1em; padding: 0; }
			#installed-theme .details h3 { color: #222; font-size: 0.8em; font-weight: bold; margin-bottom: 5px; }
			#installed-theme .details a { color: #0033d7; display: block; float: left; font-size: 0.7em; padding: 3px 20px 0px; text-decoration: underline; }
			#installed-theme .details a:hover { text-decoration: none; }
	/*-- Form --*/
	
	.box-wrapper { margin-bottom: 30px; position: relative;}
		.form-content { background: #fff; border: 1px solid #d0d0d0; -moz-border-radius: 2px; -webkit-border-radius: 2px; overflow: hidden; padding: 20px 10px 10px; position: relative; }
				.form-content ul { float: left; margin-right: 2%; width: 75%; }
				.form-content li { border-bottom: 1px solid #dbdbdb; display: inline-block; margin-bottom: 12px; padding-bottom: 12px; width: 100%; }
					.form-content li.last { border-bottom: medium none; margin-bottom: 0; padding-top: 20px; }
			.form-content .form-help { background: #f2f2f2; border: 1px solid #d5d5d5; -moz-border-radius: 2px; -webkit-border-radius: 2px; font-size: 0.75em; padding: 0px 10px 10px; position: absolute; right: 10px; width: 20%; z-index: 999;}
				.form-help .arrow { background: url(images/form_help_arrow.png) no-repeat; position: absolute; top: 10px; left: -14px; height: 19px; width: 14px; }
				.form-help .help h3 { background: url(images/ico_information-frame.png) no-repeat left center; border-bottom: 1px solid #cbcbcb; color: #222; font-size: inherit; padding: 4px 0 2px 20px; margin-bottom: 10px; }
				.form-help .help.error h3 { background: url(images/ico_exclamation-red-frame.png) no-repeat left center; }
				.form-help .help.successful h3 { background: url(images/ico_tick-circle-frame.png) no-repeat left center; }
				.form-help .format-wrapper { font-size: inherit; margin-bottom: 8px; }
					.form-help .format-wrapper span { font-weight: bold; }
					.form-help .format-wrapper span.format { color: #888; font-weight: normal; margin-left: 5px; }
				.form-help .help  p { font-size: inherit; line-height: 1.3em; }
				.form-help .help p.error-msg { color: #b80000; }
				
	.mass-wrapper .actions { margin-bottom: 30px; overflow: hidden; }
	
	.rights, .groups { padding-top: 3px; width: 40% !important; }
		.rights li, .groups li { border-bottom: 1px dotted #ccc; margin-bottom: 12px; }
			.rights span, .groups span { font-size: 0.7em; }
			.rights .name, .groups .name { float: left; font-weight: bold; margin-right: 20px; padding-top: 7px; width: 90px; }
			.rights select { float: left; margin-right: 20px; }
			.rights .rights-container, .groups .delete { float: left; margin-top: 4px; }
				.rights .rights-container span { float: left; margin-right: 5px; }
				.rights .read { background: url(images/ico_binocular.png) no-repeat; display: block; text-indent: -9999px; height: 16px; width: 16px; }
				.rights .write { background: url(images/ico_document-pencil.png) no-repeat; display: block; text-indent: -9999px; height: 16px; width: 16px; }
			.groups .delete { background: url(images/ico_cross-circle-frame.png) no-repeat; display: block; float: left; text-indent: -9999px; height: 16px; width: 16px; }
	
	/* Welcome Box */
	.welcome_box { margin-bottom: 20px; overflow: hidden; }
		.welcome_box h3 { border-bottom: 1px solid #C0C0C0; color:#222222; font-size: 0.9em; margin-bottom:15px; padding-bottom:2px; }

	/* SideBar */
	
	#quicklnk-sideBar-wrapper { position: absolute; top: 110px; right: -318px; }
		#quicklnk-sideBar-wrapper .slider { background: url(images/slideIn_bttn.png) no-repeat; text-indent: -9999px; position: absolute; top: 100px; left: -60px; height: 45px; width: 45px; }
			#quicklnk-sideBar-wrapper .slider.slideOut { background: url(images/slideOut_bttn.png) no-repeat; }
		#quicklnk-sideBar { width: 295px; }
			#quicklnk-sideBar .top { background: url(images/sidebar_title.png) no-repeat; height: 28px; padding-top: 7px; padding-left: 16px; }
				#quicklnk-sideBar .top h3 { color: #1c1c1c; font-size: 0.7em; text-shadow: 0px 2px 3px #fff;}
			#quicklnk-sideBar .content { background: url(images/sidebar_bg.png) repeat-y; display: inline-block; height: 390px; padding: 10px; padding-left: 25px; padding-right: 0; width: 295px; }
				.single { background: url(images/sidebar_el_bg.png) no-repeat; cursor: move; float: left; margin-right: 3px; overflow: hidden; padding: 14px; height: 104px; width: 104px; }
					.single img { border-bottom: 1px dotted #aaa; padding: 0 25px 10px; margin-bottom: 10px; }
					.single .description { color: #444; font-size: 0.75em; line-height: 1.3em; text-align: center; }
			#quicklnk-sideBar .bottom { background: url(images/sidebar_footer.png) no-repeat; height: 16px; }
	
	/*-- Modal Box --*/
	
	.modal { display: none; position: relative; }
		.simplemodal-overlay { background: #000; }
			.modalCloseImg { background: url(images/dashboard_quicklink_title_close.png) no-repeat; display: block; position: absolute; right: 10px; top: 7px; height: 12px; width: 12px; z-index: 100; }
			/*-- Shadow --*/
			.shadow-bg { position: absolute; height: 100%; width: 100%; z-index: -5; }
				.shadow-top-lft { background: url(images/modal_shadow_top_lft.png) no-repeat; position: absolute; top: -8px; left: -7px; height: 8px; width: 7px; }
				.shadow-top-mdl { background: url(images/modal_shadow_top.png) repeat-x; position: absolute; top: -7px; height: 7px; width: 100%; }
				.shadow-top-rgt { background: url(images/modal_shadow_top_rgt.png) no-repeat; position: absolute; top: -8px; right: -7px; height: 8px; width: 7px; }
				.shadow-left { background: url(images/modal_shadow_lft.png) repeat-y; position: absolute; left: -7px; height: 100%; width: 7px; }
				.shadow-btm-lft { background: url(images/modal_shadow_bttm_lft.png) no-repeat; position: absolute; bottom: -8px; left: -7px; height: 8px; width: 7px; }
				.shadow-btm-rgt { background: url(images/modal_shadow_bttm_rgt.png) no-repeat; position: absolute; bottom: -8px; right: -7px; height: 8px; width: 7px; }
				.shadow-btm-mdl { background: url(images/modal_shadow_bottom.png) repeat-x; position: absolute; bottom: -7px; height: 7px; width: 100%; }
				.shadow-right { background: url(images/modal_shadow_rgt.png) repeat-y; position: absolute; right: -7px; height: 100%; width: 7px; }
			
			
			.modal .title { background: black url(images/modal_title_bg.png) repeat-x; -moz-border-radius: 4px; -webkit-border-radius:4px; height: 27px; padding-top: 3px; }
			.modal .title h3 { color: #ccc; font-size: 0.7em; padding-left: 10px; margin-bottom: 0px; }
			.modal .content { background: #fff url(images/modal_dialog_content_bg.png) repeat-x bottom; padding: 10px; }
				.modal .msg { background: url(images/ico_cancel.png) no-repeat center left; margin-bottom: 15px; padding-left: 55px; width: 250px; }
				.modal .action-bttn { overflow: hidden; margin-left: 55px; }